<a href="https://colab.research.google.com/github/thinhnguyen2026/BUS310/blob/main/Python_Intro_BUSA210B_ThinhNguyen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Day of Python Coding in BUSA210B

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
x = 3
y = 4
print(x + y)

7

Variables and Objects in Python

In [ ]:
#Lists - Data Type! It is mutable (can be changed after it is created)

numbers = [2, 3, 4, 5, 6]
print(numbers)

numbers[1] = "Andy" #changes the second item in the list pointed to by numbers from 3 to "Andy"
numbers

[2, 3, 4, 5, 6]

[2, 'Andy', 4, 5, 6]

In [ ]:
#we can also add items to an already created list.
#using the function "append()"

numbers.append(15)
print(numbers)

[2, 'Andy', 4, 5, 6, 15]

In [ ]:
#tuples are immutable
season = ("Summer", "Spring", "Winter", "Fall")
print(season)
season[1] = "Winter"
print(season)

('Summer', 'Spring', 'Winter', 'Fall')

TypeError: 'tuple' object does not support item assignment

A Set is a data type in Python used to  store several items in a single object(variable). It is a collection with no duplicate elements/items.

In [ ]:
numbers2 = [2, 2, 3, 4, 5, 6]
unique2 = set(numbers2)
print(numbers2)
print(unique2)

[2, 2, 3, 4, 5, 6]
{2, 3, 4, 5, 6}

In [ ]:
#Another way to create sets

set1 = {1, 1, 4, 4, "Sam", "Holly", 3, "Holly"}
print(set1) #using print keeps the results in the output

{1, 3, 4, 'Holly', 'Sam'}

In [ ]:
#Are sets mutable?
set1.add(5)
print(set1) #yes, it is changeable

# set2 = set1.remove(5)
# print(set2)

set1.remove(5)
print(set1)

set2 = set1
print(set2)

{1, 3, 4, 5, 'Holly', 'Sam'}
None

Dictionary = d
*if and only if we assign definitions to each term, aka key value pairs.
*Keys are immuatble and unique
*Values are mutable

d = {1:'J', key:value,...}

##in Python can hold data.
##can have actions associated with them.

Pointer => reference
point to => refer to
Pointed to => referenced
Point X to Y => cause x to refer to Y

###Assignment statements don't copy anything, the y point a variable to an object.
-> So, assigning one variable to another variable(set2 = set1) is really pointing two variables to the same object.

#is returns if the references to check the identity
##== to check the equality

In [ ]:
x = 7
y = x
x = 3
print(x, ", ", y)

3 ,  7

1. If statement -> actions(s) if true...
2. if_else statement -> action(s) if true
3. Nested if statement -> recurring condition with action on the true portion each condition
4. If_elif_else statement -> recurring condition with action(s) on the false portion of each condition.

3 main steps:
1. test condition: asking true of false
2. to tell/determine actions to take if true
3. Closing statement/actions

# Conditional Statement

## Starting with IF statement

In [ ]:
# Example: Print the absolute value of a number assigned to a variable.

# Start by defining our variable , x.
x = - 10

# now we start the if statement
# Step 1: test condition
if x < 0:
  x = -x # this changes the negative value to positive (true values are negative given the test condition above.)
else:
  print(x)

print(x) # this will show the value of x regardless of the true/false result of the test condition.

if x < 10:
  x = abs(x)
print(x)

x = abs(x)
print(x)


x = 10
if x < 10:
  print("The original value of x is", x)
  x = abs(x)
print("The absolute value of x is", x)

10
10
10
The absolute value of x is 10

# Sep, 3, 2024

## If-else conditional statements

In [ ]:
#First if-else conditioanl statement example.

# Define the x variable
x = 20

#start the if-else statement
#step 1: test condition
if x < 15:
  #step 2: if's action
   print("x is smaller than 15")
   print("I came from the if block") #action if true,
   print('Done by Thinh Nguyen')
  #step 3: work on the false branch - therefore use the else function
else: #remmeber the colon and the identation
    print("x is NOT smaller than 15")
    print("I came from the else block")
print('Done by Thinh Nguyen') #step 4 - our closing statement

x is NOT smaller than 15
I came from the else block
Done by Thinh Nguyen

Syntax: 2 condition nested statement
if condition 1:
  if condition 2: # action if true from the condition above
      action(s) if true (#2)

  else:
      actions(s) if false(#2)

else:
  action(s) if false(#1)

In [ ]:
#Syntax: 4 condition nested statement
if condition 1:
  if condition 2: # action if true from the condition above
      if condition 3:
          if condition 4:
              action(s) if true (#4)
          else:
              actions(s) if false(#4)
      else:
          actions(s) if false(#3)
  else:
      action(s) if true (#2)
else:
  action(s) if false(#1)

In [ ]:
# python program to illustrate nested If statement
x = 10
if (x == 10):
# First nested if statement
  if (x < 15):
    print("x is smaller than 15")
  # Nested - if statement
  # Will only be executed if statement above is true
    if (x < 12):
      print("x is smaller than 12 too")
    else:
      print("x is greater than 15")

x is smaller than 15
x is smaller than 12 too

In [ ]:
if x>10:
 print("x is greater than 10")
 if x<15:
    print("x is smaller than 15")
    if x<12:
      print("x is smaller than 12")
    else:
      print("x is not smaller than 12")
else:
  print('x is not greater than 10')

x is not greater than 10

In [ ]:
purchase_amount = 150
age = 18

if purchase_amount > 100:
  if age < 30:
    print("Show ad for tech gadgets.")
  else:
    print("Show ad for home aplliances.")

  print("Log this interaction.")

else:
  print("Show generic ad.")

print("Thank for shopping.")

Show ad for tech gadgets.
Log this interaction.
Thank for shopping.

if condition 1:
  #Execute this block of code
  elif condition 2:
    #Excute this block of code
    elif condition 3:
      #Excute this block of code
    else:
  else:
else:

##if-else-else conditioanl statement

##Sept 10, 2024

In [ ]:
## We are building an if-elif-else statement that reports if a person is a minor (<18). adults

   #define our variable
age = 1  #the number is random, change it to test your written code/program

    #now start the if-elif-else statement
if age < 18:
  print("You are a minor.")
elif age < 65:
  print("You are an adult.")
else:
  print("You are a senior")

print("Thank you for using our program.")

You are a minor.
Thank you for using our program.

In [ ]:
customer_spend = 150 #Define our variable

#Start the if-elif-else statement
if customer_spend >= 200:
  print("Offer 20% discount.")
elif customer_spend >= 100:
  print("Offer 10% discount.")
elif customer_spend >= 50:
  print("Offer 5% discount.")
else:
  print("Offer no discount.")

print("Created by Harry.")

Offer 10% discount.
Created by Harry.

In [ ]:
current_inventory = 150 #Define variable

#Start if-elif-else statement
if current_inventory < 50:
  print("The company needs a significant restock")
elif (current_inventory >= 50) and (current_inventory < 100):
  print("The company needs a moderate restock")
elif (current_inventory >=100) and (current_inventory < 150):
  print("The company needs a lighter restock")
else:
  print("The company has a sufficient inventory, no restocking necessary")

print("Created by Harry")

The company has a sufficient inventory, no restocking necessary
Created by Harry

In [ ]:
#Define variable
current_inventory = 150
demand_level = 'increase'

if current_inventory < 50:
  print("The company needs a significant restock")
elif 50 <= current_inventory < 100 and demand_level =='increase':
  print("restock more: Order 75 more units")
elif 50 <= current_inventory < 100 and demand_level =='stable':
  print("restock less: Order 50 more units")
elif 100 <= current_inventory < 150 and demand_level =='increase':
  print("restock more: Order 30 more units")
elif 100 <= current_inventory < 150 and demand_level != 'increase':
  print("Miniml restoking neededL Order 15 units.")
else:
  if demand_level == 'increase':
    print("Demand is high, restock less")
  else:
    print("No need to restock. Inventory level are sufficient")

print("Created by Harry")

Demand is high, restock less
Created by Harry

##LOOPS
#Starting with for loop

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
print("List Iteration")
l = ["Business", "Analytics", "ROCKS"]
for i in l:
  print(i)

List Iteration
Business
Analytics
ROCKS

In [ ]:
print("\nTuple Iteration")
t = ("Business", "Analytics", "ROCKS")
for i in t:
  print(i)

Tuple Iteration
Business
Analytics
ROCKS

In [ ]:
print("\nString Iteration")
s = "Business Analytics ROCKS"
for i in s:
  print(i)

String Iteration
B
u
s
i
n
e
s
s

A
n
a
l
y
t
i
c
s

R
O
C
K
S

In [ ]:
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d:
  print("%s %d" %(i, d[i]))

Dictionary Iteration
xyz 123
abc 345

In [ ]:
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d:
  print(i, d[i])

Dictionary Iteration
xyz 123
abc 345

In [ ]:
print("\nSet Iteration")
set1 = {1, 2, 3, 4, 5, 6,6,5,4}
for i in set1:
  print(i)

Set Iteration
1
2
3
4
5
6

Practice example

convert a for loop into a while loop

In [ ]:
# First Æ°e have the for loop.

for i in range(1,11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
i = 0
while (i<11):
  i = i  + 1
  print(i*2)

2
4
6
8
10
12
14
16
18
20
22

##Another example of converting a for loop into a while loop

In [ ]:
#for loop

lst = [5,4,3,2,1] #defining our lst variable

for n in lst:
  print("This element is", n)

#While loop

i = 0
while i < len(lst):
  print("This element is", lst[i])
  i = i + 1

This element is 5
This element is 4
This element is 3
This element is 2
This element is 1
This element is 5
This element is 4
This element is 3
This element is 2
This element is 1

9/19/2024
Next what will they change when the list is now list 2

In [ ]:
r = 5
while r < 0:
  print("The element is", r)
  r = r - 1
print("The loop has ended")

In [ ]:
value = 2
while value <27:
  print("The even element is", value)
  value = value + 2
print("The loop has ended")

The even element is 2
The even element is 4
The even element is 6
The even element is 8
The even element is 10
The even element is 12
The even element is 14
The even element is 16
The even element is 18
The even element is 20
The even element is 22
The even element is 24
The even element is 26
The loop has ended

In [ ]:
for i in range()

#A function(fnc) is a reusable block of code that performs a specific task as designed (e.g a blender in the kitchen blends things)


##A function can take inputs/arguments and it returns output/value

#Function helps us break down complex problems into smaller manageable parts.
-> As out program gets bigger function allow us to be organized and make the code more manageable

##def: Keyword used to define or declare a fnc
#Greet: is the name we have decided to call our function. It is what we use when we want to implement the fnc.

#name: is the input parameter(argument) that the fnc accepts.-> this is when we identify the parts of our function

print(f"heloo, {name}): the main body/actions of the function. It is linked to the identified parameters in the line above.

return None: this is the portion of the finction that takes the result created within the function to the object land

##Function

In [ ]:
## Lets start by building our FIRST function. :)

def greet(name):
  print(f"Hello, {name}!")
  return None

In [ ]:
greet("Alice")

Hello, Alice!

##to call (invoke) a function, we use its name follwed by parentheses
-> We then pass the parameters/arguments inside the parenthesis.

In [ ]:
message = greet("Bob")
print(message)

Hello, Bob!
None

### Using the return to move the calculated result from the temporary environmnet to the main python environment.

In [ ]:
#first lets build the function

def add_numbers(a, b):
  result = a + b
  return result

In [ ]:
add_numbers(2, 3)

5

### Local vs. Global environmnet: returning the object created within a function from the local environment to the global environment

In [ ]:
##Option 1
def greet(name):
  print(f"Hello, {name}!") #here we tie the parameters to the acition(s)
  return None # this is not great because it sends a null value to the global object environment.

In [ ]:
## we want to send some information from local to global
def greet(name):
  print(f"Hello, {name}!") #here we tie the parameters to the acition(s)
  return name # this is not great because it sends a null value to the global object environment.

In [ ]:
# now we call the greet function and assign it to a variable(message2)

message2 = greet('Alice')

Hello, Alice!

In [ ]:
print(message2)

Alice

In [ ]:
### Let's update this function pass "Hellom {name}!" along to the global environment
## option 1

def greet(name):
  print(f"Hello, {name}!") #here we tie the parameters to the acition(s)
  greeting = "Hello, this is " #this creates a string object within the local function environment
  e_p = "!"
  return greeting + name + e_p

In [ ]:
## now use message 3 to see the result

message3 = greet('JJ')

Hello, JJ!

In [ ]:
print(message3)

Hello, this is JJ!

'return' is a command that any work within the function environment.

-> It is the compand the pushes created objects(within the local function environment) to the global python object environment.
* After the program reads a return command within a function, it exits the function

## Objecr References and Pass by value

### If an object is created in the global environment and then passed to the local function environment, any changes made to that global object within the function will automatically show up in the global environment as well.

In [ ]:
## Example

numbers = [1, 2, 3]

# Now lets create our function that adds the number 4 as a item in the list.
def modify_list(my_list):
  my_list.append(4) #this is where we add the item to the list.
  print("Inside the function: ", my_list)

In [ ]:
modify_list(numbers)

Inside the function:  [1, 2, 3, 4]

In [ ]:
print(numbers) # e "numbers" is pointing to the global list object, which now also has the added "4" item.

[1, 2, 3, 4]

In [ ]:
### how the function moves from one line of code to the next: automatically.

def my_abs(val):
  if val < 0: # if it is negative
    return -val # # this action turns the negative value, positive.
  else:
    return val # This line is telling the function to return the given value as it is, if it is a positive value

In [ ]:
# let's call our function
w = my_abs(-30)

print(w)

30

In [ ]:
t = my_abs(-29)
print(t)

29

In [ ]:
## what will we see when we don't use the return command within the function

def print_Abs(val):
  if val < 0:
    print(0 - val)
  else:
    print(val)

x = print_Abs(-30)
print(x)

30
None

In [ ]:
###
def print_abs(val):
  if val < 0:
    print(0-val)
  else:
    print(val)
  return 0 - val

In [ ]:
x = print_abs(-2.7) #we see the 2.7 because of the print(0-val) command within the

2.7

In [ ]:
print(x) # we see 2.7 here because of the return 0-val command in the function.

In [ ]:
print(val) #val only exists within the local function environment. Val does not exist within our grou

NameError: name 'val' is not defined

In [ ]:
x = 10
y = x
y is x
x = 20
print(x, y)

20 10

###Oct 3, 2024
##Functions (Application Examples)

#### Build the function Step-by Step

We know:
Function name is update_sales_data Parameters it accepts are:
- Sale_datas,
- Product_category,
- New_sales_amount.

We need to check if the product_category already exists in the sales dictionary.
-- We can use an if statement to do this.

if product_category in sale_data: #this does the checking.

-- We then need to write the code for adding the new_sales_amount to the already existing product category value.

sales_data[product_category] = sales_data[product_category] + new_sales_data

OR

sales_data[product_category] += mew_sales_data

--- If false: We need to create the new product_category in the dictionary and assign its value
  sales_data[product_category] = new_sales_data
  #doing this creates the new key-data pair in the given sales_data_dictionary.

In [16]:
# establish the current sales dictionary based on the info we were given
monthly_sales = {'Electronics': 5000,'Clothing':3000}
print(monthly_sales)
monthly_sales['Electronics']

{'Electronics': 5000, 'Clothing': 3000}

5000

In [20]:
### Now putting all this together, let's build our function.
def update_sales_data(sales_data, product_category, new_sales_amount):
  # we check if the product already exists.
  if product_category in sales_data:
    #if true then update
    sales_data[product_category] += new_sales_amount
    #we are editing an object that already exists in the global environment, so the changes we make here will auto show up in the global env
  else:
    sales_data[product_category] = new_sales_amount

In [21]:
## now we can call the function update the sales for Electronics ($2000) and Shoes ($4000)
update_sales_data(monthly_sales, 'Electronics', 2000)
print("Updated Monthly Sales data is", monthly_sales)
update_sales_data(monthly_sales, 'Shoes', 4000)

Updated Monthly Sales data is {'Electronics': 7000, 'Clothing': 3000}